<div class="centered-content">
    <div class="modal-box has-background-white">
        <h1 class="title has-text-primary">Create a new list</h1>
        <input #newListTitleInput class="input has-background-light" type="text" placeholder="New list name">
        <br />
        <br />
        <div class="buttons is-right">
            <button class="button" routerLink="">
                Cancel
            </button>
            <button class="button is-primary has-text-white" (click)="createNewList(newListTitleInput.value)">
                Save
            </button>
        </div>

    </div>
</div>