<div class="centered-content">
    <div class="modal-box small has-background-white">
        <h1 class="title has-text-primary">Login / Sign UP</h1>
        <div class="field">
            <p class="control has-icons-left has-icons-right">
              <input #inputEmail class="input" type="email" placeholder="Email">
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>             
            </p>
          </div>
          <div class="field">
            <p class="control has-icons-left">
              <input #inputPassword class="input" type="password" placeholder="Password">
              <span class="icon is-small is-left">
                <i class="fas fa-lock"></i>
              </span>
            </p>
          </div>
          <div class="field is-flex is-justify-content-flex-end is-align-content-flex-end">
            <p class="control">
              <button class="button is-primary has-text-white" (click)="onLoginButtonClicked(inputEmail.value, inputPassword.value)">
                Login
              </button>
            </p>
          </div>
    </div>
</div>
