<div class="centered-content">
    <div class="task-manager-container">
        <div class="sidebar has-background-white">
            <h1 class="title has-text-primary mb-0">
                Lists
            </h1>

            <div class="list-menu">
                <a class="list-menu-item" *ngFor="let list of lists" [routerLink]="['/lists', list._id]"
                    routerLinkActive="is-active">
                    <p>{{list.title}}</p>
                </a>
                <button class="button is-ghost has-text-centered" (click)="onAddNewListClick();"  *ngIf="!isAddingNewList">Add new list</button>
                <div class="new-list-container" *ngIf="isAddingNewList">
                    <input #newListTitleInput 
                    class="input has-background-light" 
                    type="text" placeholder="New list name" 
                    (blur)="onBlurNewListItem(this.newListTitleInput.value)"
                    (keyup.enter)="this.newListTitleInput.blur()"
                    />
                </div>
            </div>

            <div class="user-menu mt-5 is-flex is-flex-direction-column">
                <span class="user-email info-text has-text-centered">
                    {{ userEmail }}
                </span>
                <button class="button is-ghost has-text-centered info-text-link " (click)="onSignOutButtonClick()">sign out</button>
            </div>

        </div>
        <div class="task-list-container has-background-light">
            <div *ngIf="listIdSelected; else noListSelectedDiv">
                <h1 class="title has-text-primary">
                    Tasks
                </h1>

                <div class="task" *ngFor="let task of tasks" (click)="onTaskClick(task)"
                    [ngClass]="{'completed': task.completed}">
                    <p>{{task.title}}</p>
                </div>

                <div class="info-text" *ngIf="tasks.length === 0">
                    <span >There are no tasks to show for this list yet</span>
                </div>

                <button class="button circle-add-button is-primary has-text-white"
                    [routerLink]="['/lists', listIdSelected, 'new-task']">+</button>
            </div>
            <ng-template #noListSelectedDiv>
                <div class="info-text">
                    <span >No list selected</span>
                </div>
            </ng-template> 
        </div>
    </div>
</div>